
h1{
    color: rgb(17, 83, 61);
    margin: auto;
}
button{
    margin: 1px white solid;
    background-color: rgb(10, 101, 70);
    width: 9em;
    height: 3em;
    color: aliceblue;
}
tr{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}
.definition{
    margin: auto;
    margin-top: 2em;
    color: rgb(192, 8, 75);
    width: fit-content;
    border-bottom: 0.2em rgb(255, 194, 194) solid;
}
.line{
    color: rgb(0, 0, 0);
}
input{
    background-color: aliceblue;
}
.button{
    margin: 2rem;
}
.main{
    display: flex;
    margin: 10rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.word{
    margin-top: 1.5rem;
    width: 30%;
    height: 17%;
}
.submit{
    margin-top: 1.5rem;
}
.input{
    width: 15rem;
    height: 2rem;
    margin: 1.3rem;
}
.input:focus{
    box-shadow: 0 0 100px 1000px rgba(0,0,0,0.3);
}